{% extends "dashboard/dashboard_base.html" %}
{% block title %} Email|  {{ block.super }}   {% endblock %}

{% load i18n %}


{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Account</h1>
            <p>Eswahiligigs {{ request.user.username }} account</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">

            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'account_dashboard' %}">Account</a></li>
            <li class="breadcrumb-item"><a href=""></a> change email</li>


        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="row">
                    <div class="col-md-12">
                        <div class="login-box">

                            <div class="login-form">
                                <h1>{% trans "E-mail Addresses" %}</h1>
                                {% if user.emailaddress_set.all %}
                                    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

                                    <form action="{% url 'account_email' %}" class="email_list" method="post">
                                        {% csrf_token %}
                                        <fieldset class="blockLabels">

                                            {% for emailaddress in user.emailaddress_set.all %}
                                                <div class="ctrlHolder">
                                                    <label for="email_radio_{{ forloop.counter }}"
                                                           class="{% if emailaddress.primary %}primary_email{% endif %}">

                                                        <input id="email_radio_{{ forloop.counter }}" type="radio"
                                                               name="email"
                                                               {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                                               value="{{ emailaddress.email }}"/>

                                                        {{ emailaddress.email }}
                                                        {% if emailaddress.verified %}
                                                            <span class="verified">{% trans "Verified" %}</span>
                                                        {% else %}
                                                            <span class="unverified">{% trans "Unverified" %}</span>
                                                        {% endif %}
                                                        {% if emailaddress.primary %}
                                                            <span class="primary">{% trans "Primary" %}</span>{% endif %}
                                                    </label>
                                                </div>
                                            {% endfor %}

                                            <div class="buttonHolder row">
                                                <button class="secondaryAction btn btn-warning" type="submit"
                                                        name="action_primary">{% trans 'Make Primary' %}</button>
                                                <button class="secondaryAction btn btn-primary" type="submit"
                                                        name="action_send">{% trans 'Re-send Verification' %}</button>
                                                <button class="primaryAction btn btn-danger" type="submit"
                                                        name="action_remove">{% trans 'Remove' %}</button>
                                            </div>

                                        </fieldset>
                                    </form>

                                {% else %}
                                    <p>
                                        <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
                                    </p>

                                {% endif %}


                                <h2>{% trans "Add E-mail Address" %}</h2>

                                <form method="post" action="{% url 'account_email' %}" class="add_email">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.as_p }}
                                    </div>
                                    <button class="btn btn-primary" name="action_add"
                                            type="submit">{% trans "Add E-mail" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>

{% endblock %}




