<!-- templates/account/password_reset.html -->
{% extends 'forms_base.html' %}
{% block title %} Confirm E-mail |  {{ block.super }}   {% endblock %}
{% block content %}
     <div class="login-box">
        <div class="login-form">
                    <h3 class="login-head">Confirm E-mail Address</h3>

                <div class="panel-body">
                    {% if confirmation %}


                        <p>Please confirm that
                            <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a>
                            is an e-mail address for user
                            {{ confirmation.email_address.user.username }}
                        </p>

                        <form class="login-form" accept-charset="UTF-8" role="form" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <p class="lead">{{ form.non_field_errors }}</p>
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}


                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Confirm">

                            </fieldset>
                        </form>
                    {% else %}

                        {% url 'account_email' as email_url %}

                        <p>This e-mail confirmation link expired or is invalid. Please
                            <a href="{% url 'account_email' %}  ">issue a new e-mail confirmation request</a>.
                        </p>

                    {% endif %}

                </div>
            </div>



{% endblock %}