{% extends 'forms_base.html' %}
{% block title %} Login |  {{ block.super }}   {% endblock %}
{% block content %}
    {#    <div class="row">#}
    {#        <div class="col-md-4 offset-md-4 padding_accounts">#}
    {#            <div class="panel panel-default">#}
    {#                <div class="panel-heading">#}
    {#                    <h3 class="panel-title">Please sign in</h3>#}
    {#                </div>#}
    {#                <div class="panel-body">#}
    <div class="login-box" style="min-height: 450px">
        <form class="login-form" accept-charset="UTF-8" role="form" method="post">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
            {% csrf_token %}
            <fieldset>
                <p class="lead">{{ form.non_field_errors }}</p>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="utility">
{#                        <div class="animated-checkbox">#}
{#                            <label>#}
{#                                <input type="checkbox"><span class="label-text">Remember me</span>#}
{#                            </label>#}
{#                        </div>#}
                        <p class="semibold-text mb-2"><a href="{% url 'account_signup' %}" data-toggle="flip">SignUp/Register</a></p>
                        <p class="semibold-text mb-2"><a href="{% url 'account_reset_password' %}" data-toggle="flip">Forgot Password</a></p>
                    </div>
                </div>
                <div class="form-group btn-container">

                    <input class="btn btn-primary btn-block" type="submit" value="Login">

                </div>


            </fieldset>
        </form>
    </div>
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


{% endblock %}