<!-- templates/account/logout.html -->
{% extends 'forms_base.html' %}
{% block title %} Logout |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-form">
            <h3 class="login-head"> Sign Out</h3>
            <p class="lead">'Are you sure you want to sign out?</p>
        </div>
        <div class="panel-body">

            <form accept-charset="UTF-8" role="form" method="post">
                {% csrf_token %}
                <fieldset>
                    {% if redirect_field_value %}

                        <div class="form-group">
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>


                        </div>
                    {% endif %}



                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign Out">
                </fieldset>
            </form>
        </div>
    </div>



{% endblock %}