<!-- templates/account/password_reset_done.html -->
{% extends 'forms_base.html' %}
{% block title %} Reset Done |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-form">
            <h3 class="login-head"> Password Reset</h3>
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}" class="btn btn-primary btn-lg active" role="button"
                   aria-pressed="true">Home</a>
            {% endif %}
            <p class="lead">We have sent you an e-mail. Please contact us if you do not receive it within a few
                minutes</p>

            <a href="{% url 'home' %}" class="btn btn-primary btn-lg active" role="button"
               aria-pressed="true">Home</a>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg active" role="button"
               aria-pressed="true">Login</a>


        </div>

    </div>


{% endblock %}