<!-- templates/account/password_reset_from_key.html -->
{{% extends 'forms_base.html' %}
{% block title %} Set Password |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-form">
            <h3 class="login-head">{% if token_fail %}Bad Token {% else %}
                Change Password {% endif %}</h3>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
            {% else %}
                {% if form %}
                    <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <p class="lead">{{ form.non_field_errors }}</p>
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}


                            <input class="btn btn-lg btn-success btn-block" type="submit" value="change password">

                        </fieldset>
                    </form>
                {% else %}
                    <p> 'Your password is now changed.' </p>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>



{% endblock %}