<!-- templates/account/password_reset.html -->
{% extends 'forms_base.html' %}
{% block title %} Change Password |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="login-box" >
        <form class="login-form" accept-charset="UTF-8" role="form" method="post">
         <h3 >Change Password</h3>
            {% csrf_token %}
            <fieldset>
                <p class="lead">{{ form.non_field_errors }}</p>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group btn-container">
                    <input class="btn btn-primary btn-block" type="submit" value="Change Password">
                </div>

            </fieldset>
        </form>

    </div>



{% endblock %}