<!-- templates/account/password_reset.html -->
{% extends 'forms_base.html' %}
{% block title %} Reset Password |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="login-box" style="min-height: 500px">

        <form class="login-form" accept-charset="UTF-8" role="form" method="post">
            <h5 class="panel-title"> Password Reset</h5>
            <p class="lead">Forgotten your password? Enter your e-mail address below, and we'll send you an
                e-mail allowing you to reset it.</p>
            {% csrf_token %}
            <fieldset>
                <p class="lead">{{ form.non_field_errors }}</p>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group btn-container">

                    <input class="btn btn-primary btn-block" type="submit" value="Reset Password">

                </div>

            </fieldset>
            <p class="lead">Please contact us if you have any trouble resetting your password.</p>
        </form>
    </div>



{% endblock %}