<!-- templates/account/signup.html -->
{% extends 'forms_base.html' %}
{% block title %} SignUp |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="login-box" style="min-height: 500px">
        <form class="login-form" accept-charset="UTF-8" role="form" method="post">
            <h5> Please sing up</h5>
            {% csrf_token %}
            <fieldset>
                <p class="lead">{{ form.non_field_errors }}</p>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group btn-container">


                    <input class="btn btn-primary btn-block" type="submit" value="Sign Up">
                </div>

            </fieldset>
        </form>
    </div>



{% endblock %}