{% load static %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/static/js/plugins/pace.min.js"></script>
<script src="{% static 'comments/js/comments.js' %}"></script>
<script src="{% static 'comments/js/safe_ajax.js' %}"></script>