{% extends 'dashboard/dashboard_base.html' %}
{% load search_form %}
{% block title %} Questions |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-university"></i> Questions</h1>
            <p>Best swahili courses for all users</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Questions</li>
        </ul>
    </div>
    {#    {% if request.GET.q %}#}
    {#        <p> You searched for <b>{{ request.GET.q }}</b></p>#}
    {#    {% endif %}#}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="row">

                    {% for item in object_list %}
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        <a href="{% url 'questions:detail' item.slug %}">{{ item.question }}</a>
                                    </h5>

                                </div>
                            </div>
                        </div>

                    {% empty %}
                        <p class="lead">No Questions</p>

                    {% endfor %}

                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>


{% endblock content %}