{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Questions |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i> Question Detail</h1>
            <p>ESwahiligigs question</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'questions:list' %}">Questions</a>
            </li>
            {% if request.user == object.user %}
                <li class="breadcrumb-item"><a class="btn btn-warning"
                                               href="{% url 'questions:edit' object.slug %}">Edit
                    This question</a></li>
                  <li class="breadcrumb-item"><a class="btn btn-danger"
                                               href="{% url 'questions:delete' object.slug %}">Delete
                    This question</a></li>
            {% endif %}


        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ object.question }}</h5>

                                    {% for reply in object.reply_set.all %}

                                        <div class="media mt-3">

                                            <div class="media-body">
                                                <h5 class="mt-0"></h5>
                                                {{ reply.reply }}
                                                <br>
                                                <small>replied by {{ reply.user.username }}
                                                    at {{ reply.timestamp }}</small>

                                                {% if reply.user == request.user %}
                                                    <small><a href="{% url 'questions:reply_edit' reply.pk %}">Edit</a></small>
                                                    <small><a href="{% url 'questions:reply_delete' reply.pk %}">delete</a></small>
                                                {% endif %}

                                            </div>
                                        </div>
                                    {% endfor %}
                                    <a class="btn btn-primary" href="{% url 'questions:reply'  question_id=object.id %}">Reply</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>




{% endblock content %}