{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Questions |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Courses</h1>
            <p>Eswahiligigs courses </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'questions:list' %}">Questions</a></li>
            <li class="breadcrumb-item"><a href="{% url 'questions:detail' object.question.slug %}"> Back</a></li>
            <li class="breadcrumb-item">Delete</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action="">{% csrf_token %}
                            <p>Are you sure you want to delete <b>{{ object.reply }}</b> Reply</p>
                            <input type="submit" value="Yes" class="btn btn-danger">
                            <a class="btn btn-warning" href="{{ object.get_absolute_url }}">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}