<!-- Footer -->

<footer id="contact" class="footer">
    <div class="footer_body">
        <div class="container">
            <div class="row">

                <!-- Newsletter -->
                <div class="col-lg-3 footer_col">
                    <div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
                        <div class="footer_logo mb-auto"><a href="#">Eswahiligigs</a></div>
                        <div class="footer_title">
                            <p><i class="fa fa-location-arrow" style="padding-top: 30px;"></i> xxxx/xxx xxx x xxxxxxx
                            </p>
                            <p><i class="fa fa-phone"></i> +xx-xxxx-xxxx </p>
                            <p><i class="fa fa fa-envelope"></i> info@eswahiligigs.com </p>
                        </div>

                    </div>
                </div>

                <!-- About -->
                <div class="col-lg-3  footer_col">
                    <div>
                        <div class="footer_title">About Us</div>
                        <ul class="footer_list">
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Brand Guidelines</a></li>

                        </ul>
                    </div>
                </div>

                <!-- Help & Support -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_title">Help & Support</div>
                    <ul class="footer_list">
                        <li><a href="#">Discussions</a></li>
                        <li><a href="#">Troubleshooting</a></li>

                    </ul>
                </div>

                <!-- Privacy -->
                <div class="col-lg-3 footer_col clearfix">
                    <div>
                        <div class="footer_title">Privacy & Terms</div>
                        <ul class="footer_list">
                            <li><a href="#">Community Guidelines</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Brand Guidelines</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="copyright_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-center">
                    <div class="text-center cr">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        | Designed by <a href="https://www.eswahiligigs.com" target="_blank">ESwahiligigs</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>