<!--top header-->
<header class="wrap">
    <!--most top info -->
    <div class="top_bar">
        <div class="top_bar_container">
            <div class="container">
                <div style="height: 40px; background: #ffffff">

                    <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                        <div class="top_bar_phone"><span class="top_bar_title">email:</span>info@eswahiligis.com</div>
                        <div class="top_bar_right ml-auto">

                            <!-- Language -->
                            {#                <div class="top_bar_lang">#}
                            {#                    <span class="top_bar_title">site language:</span>#}
                            {#                    <ul class="lang_list">#}
                            {#                        <li class="hassubs">#}
                            {#                            <a href="#">English<i class="fa fa-angle-down" aria-hidden="true"></i></a>#}
                            {#                            <ul>#}
                            {#                                <li><a href="#">Ukrainian</a></li>#}
                            {#                                <li><a href="#">Japanese</a></li>#}
                            {#                                <li><a href="#">Lithuanian</a></li>#}
                            {#                                <li><a href="#">Swedish</a></li>#}
                            {#                                <li><a href="#">Italian</a></li>#}
                            {#                            </ul>#}
                            {#                        </li>#}
                            {#                    </ul>#}
                            {#                </div>#}

                            <!-- Social -->
                            <div class="top_bar_social">
                                <span class="top_bar_title social_title">follow us</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End most top info -->
    <div class="header_container">

        <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll"
             style="background-color: #FFFFFF">
            <div class="container">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo_container mr-auto">
                        <a class="navbar-brand logo_text" href="#">Eswahiligigs</a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav pull-right">
                        <li class="nav-item item_swahili">
                            <a class="nav-link active span_item" href="#" swahili-menu="Nyumbani"><span>Home</span></a>
                        </li>
                        <li class="nav-item item_swahili">
                            <a class="nav-link span_item" href="#about" swahili-menu="Kutuhusu"><span>About</span></a>
                        </li>
                        <li class="nav-item item_swahili">
                            <a class="nav-link span_item" href="#services"
                               swahili-menu="Huduma"><span>Services</span></a>
                        </li>
                        {% if courses %}
                            <li class="nav-item item_swahili">
                                <a class="nav-link span_item" href="#courses"
                                   swahili-menu="Masomo"><span>Courses</span></a>
                            </li>
                        {% endif %}
                        <li class="nav-item item_swahili">
                            <a class="nav-link span_item" href="#pricing" swahili-menu="Bei/Malipo"><span>Pricing</span></a>
                        </li>

                        <li class="nav-item item_swahili">
                            <a class="nav-link span_item" href="#contact"
                               swahili-menu="Wasiliana Nasi"><span>Contact</span></a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item item_swahili">
                                <a class="nav-link span_item" href="{% url 'dashboard' %}"
                                   swahili-menu="Dashbaord"><span>Dashboard</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item item_swahili">
                                <a class="nav-link span_item" href="{% url 'account_login' %}"
                                   swahili-menu="Login/register"><span>Login/register</span></a>
                            </li>
                        {% endif %}
                        <!--                             <li class="nav-item">
                                                        <a class="btn btn-primary" href="#">GET A QUOTE</a>
                                                    </li> -->

                    </ul>

                </div>
            </div>
        </nav>
    </div>
</header>

<!-- End top header-->
