{% load static %}
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"#}
{#        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"#}
{#        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/require.js' %}"></script>
<script src="{% static 'js/sticky_nav.js' %}"></script>
<script src="{% static 'comments/js/comments.js' %}"></script>
<script src="{% static 'comments/js/safe_ajax.js' %}"></script>
<script>
    $(document).ready(function () {

// Click event for any anchor tag that's href starts with #
        $('a[href^="#"]').click(function (event) {

            // The id of the section we want to go to.
            var id = $(this).attr("href");

            // An offset to push the content down from the top.
            var offset = 60;

            // Our scroll target : the top position of the
            // section that has the id referenced by our href.
            var target = $(id).offset().top - offset;

            // The magic...smooth scrollin' goodness.
            $('html, body').animate({scrollTop: target}, 800);

            //prevent the page from jumping down to our section.
            event.preventDefault();
        });
    });
</script>
<script>
    $('body').append('<div id="backToTop" class="btn btn-lg"><span> <i class="fa fa-arrow-up"></i></span></div>');
    $(window).scroll(function () {
        if ($(this).scrollTop() <= 200) {
            $('#backToTop').fadeOut();
        } else {
            $('#backToTop').fadeIn();
        }
    });
    $('#backToTop').click(function () {
        $("html, body").animate({scrollTop: 0}, 600);
        return false;
    });
</script>


