<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body style="background-color: #f9fbe7;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<div class="email-logo" style="margin-top:0;background-color: transparent;padding: 20px 0">
    <div style="width: 80%;display: block;margin:0 auto;">
    </div>
</div>
<div class="email-body" style="
            padding: 0 0 20px;
            background-clip: content-box;
            background-color: #fff;
            width: 80%;
            margin: auto;
            margin-bottom: 20px;">
    <div class="email-logo"
         style="width:100%;margin-top:0;background:#1e3e66 ;padding: 20px 0">
        <div style="width: 80%;display: block;margin:0 auto;">
        </div>

    </div>
{#    <div style="padding: 0;margin: 0;display: flex;height: 5px;">#}
{#        <img style="#}
{#            width:100%;height:auto;" src="http://s7.postimg.org/w2yxngwpn/top_line.png">#}
{#    </div>#}
    <div class="email-description" style="
        padding-top: 5px;
        padding-bottom: 5px;
            line-height: 1.5em;
            font-weight: 300;
             text-align: center;
             font-size: 24px;
            width: 100%;
            color: #1e3e66;
            background: #f6f8fa">
        <p>Eswahiligigs</p>
    </div>
    <div class="email-description" style="padding: 10px;
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;
            width: 80%;
            color: #565656;">

        <p>
            Hi , <br>
            Thanks for choosing eswahiligigs as your prefered platform to learn swahili.
            This is to notify you that you have enrolled to the {{ plan }} . <br> We are thrilled to walk with you on this
            journey. <br>

            Thanks for choosing us. <br>
            <b>Asante sana </b>
        </p>
    </div>
    <hr style="border:1px solid #a8afa8;">
    <div class="email-description" style="padding: 10px;
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;
            width: 80%;
            color: #565656;">
        <p style="margin: 0;">Eswahiligigs</p>

        {#        <p style="margin: 0;"> P.O Box 15631-00100 Nairobi</p>#}


        <p style="margin: 0;"><a href="https://www.eswahiligigs.com">www.eswahiligigs.com</a></p>
    </div>
</div>

</body>
</html>