/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900');

@font-face {
    font-family: hand_of_seanregular;
    src: url('/static/fonts/Hand_Of_Sean_Demo.ttf');
}

/*********************************
2. Body and some general stuff
*********************************/

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

body {
    min-height: 1200px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /*background: #FFFFFF;*/
    background: url("/static/img/bkg.svg") repeat scroll center center #E9F8FC;
    /*color: #a5a5a5;*/
}

nav {
    /*background: #eaebec;*/
    min-height: 85px;

}

/*********************************
3.1 Top Bar
*********************************/

.top_bar {
    width: 100%;
    background: #FFFFFF;
    border-bottom: solid 1px #ebebeb;
    z-index: 10;
}

.top_bar_container {
    width: 100%;
}

.top_bar_content {
    height: 49px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.top_bar_phone {

}

.top_bar_title {
    margin-right: 10px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

.top_bar_lang {
    display: inline-block;
}

.lang_list {
    display: inline-block;
}

.lang_list > li {
    display: inline-block;
}

.lang_list li a {
    color: rgba(0, 0, 0, 0.4);
    padding-top: 17px;
    padding-bottom: 17px;
}

.lang_list li a:hover {
    color: rgba(0, 0, 0, 1);
}

.lang_list li a i {
    margin-left: 7px;
}

.lang_list > li ul {
    position: absolute;
    right: -10px;
    top: 44px;
    background: #FFFFFF;
    padding-right: 23px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.lang_list > li:hover ul {
    top: 34px;
    visibility: visible;
    opacity: 1;
}

.lang_list > li ul li {
    text-align: right;

}

.lang_list > li ul li a {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
}

.top_bar_social {
    display: inline-block;
    margin-left: 79px;
    margin-right: -6px;
}

.social_title {
    margin-right: 13px;
}

.top_bar_social ul {
    display: inline-block;
}

.top_bar_social ul li {
    display: inline-block;
}

.top_bar_social ul li a i {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    padding: 6px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.top_bar_social ul li a i:hover {
    color: rgba(0, 0, 0, 1);
}

/*********************************
3.3 Logo
*********************************/

.logo,
.logo_text {

    display: inline-block;
}

.logo_container {
    width: 100px;
}

.logo {
    width: 60px;
    height: 60px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.logo img {
    max-width: 100%;
}

.logo_text {
    font-family: 'hand_of_seanregular', Arial, serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 0.75;
    color: #2e21df !important;
    vertical-align: middle;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header.scrolled .logo {
    width: 40px;
    height: 40px;
}

.header.scrolled .logo_text {
    font-size: 18px;
}

.header_container {
    width: 100%;
    background: #FFFFFF !important;
}

/*********************************
12. Footer
*********************************/

.footer {
    background: #252525;
    margin-left: -15px;
    margin-right: -15px;
    /*width: 100% !important;*/

}

.footer_col {
    padding-right: 50px;
}

.footer_col:first-child {
    padding-right: 15px;
}

.footer_logo {
    margin-top: -10px;
}

.footer_logo a {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.footer_body {
    padding-top: 43px;
    padding-bottom: 44px;
}

.footer_title {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;

}

.footer_list {
    margin-top: 11px;
}

.footer_list li a {
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_list li a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer_list li:not(:last-child) {
    margin-bottom: 1px;
}

.footer_col:last-child {
    padding-right: 15px;
}

.footer_col:nth-child(2) > div {
    left: -30px;
}

.footer_col:last-child > div {
    display: inline-block;
    /*float: right;*/
}

.copyright {
    width: 100%;
    background: #1a1a1a;
}

.copyright_content {
    width: 100%;
    height: 49px;

}

.cr {
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.cr_title {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    /*margin-right: 10px;*/
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
}
.item_swahili{
    padding-right: 10px;
}
.item_swahili a.span_item span {
    position: relative;
    content: 'Home'
}

.item_swahili:hover a.span_item span {
    display: none;
}

.item_swahili:hover a.span_item:after {
    content: attr(swahili-menu);
}

/*********
About from kidsHTML
 ********/
/**
ZZ
**/
.zz-top:before {
    background: linear-gradient(-135deg, #ffffff 50%, transparent 0), linear-gradient(135deg, #ffffff 50%, transparent 0);
    background: -webkit-linear-gradient(-135deg, #ffffff 33.33%, transparent 0), -webkit-linear-gradient(-45deg, #ffffff 33.33%, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 15px 15px;
    content: " ";
    display: block;
    position: absolute;
    top: 72px;
    left: 0px;
    width: 100%;
    height: 15px;
    z-index: 90;
}

.zz-top-foo:before {
    background: linear-gradient(-45deg, #303948 50%, transparent 0), linear-gradient(45deg, #303948 50%, transparent 0);
    background: -webkit-linear-gradient(135deg, #303948 33.33%, transparent 0), -webkit-linear-gradient(45deg, #303948 33.33%, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 15px 15px;
    content: " ";
    display: block;
    position: absolute;
    top: -15px;
    left: 0px;
    width: 100%;
    height: 15px;
    z-index: 90;
}

.zz-bottom:after {
    background: linear-gradient(-45deg, #ffffff 50%, transparent 0), linear-gradient(45deg, #ffffff 50%, transparent 0);
    background: -webkit-linear-gradient(135deg, #ffffff 33.33%, transparent 0), -webkit-linear-gradient(45deg, #ffffff 33.33%, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 15px 15px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 15px;
    z-index: 90;
}

/*************************************

3.1 HOME

 ************************************/
.wrap {
    /*width: 1000px;*/
    margin-left: -15px;
    margin-right: -15px;
}

.margin-t {
    margin-top: 81px;
}

.margin-b36 {
    margin-bottom: 36px;
}

.margin-b16 {
    margin-bottom: 16px;
}

.margin-b24 {
    margin-bottom: 24px;
}

.margin-t24 {
    margin-top: 24px;
}

.margin-b32 {
    margin-bottom: 32px;
}

.margin-t32 {
    margin-top: 32px;
}

.margin-b54 {
    margin-bottom: 54px;
}

.margin-t54 {
    margin-top: 54px;
}

.margin-t72 {
    margin-top: 72px;
}

.margin-b72 {
    margin-bottom: 72px;
}

.margin-72 {
    margin: 72px 0;
}

.padding-72 {
    padding: 72px 0;
}

.padding-t54 {
    padding-top: 54px;
}

.padding-t24 {
    padding-top: 24px;
}

.padding-b24 {
    padding-bottom: 24px;
}

.padding-b54 {
    padding-bottom: 54px;
}

.margin-t15 {
    margin-top: 15px;
}

.column-clear {
    clear: both;
}

#slider-home, .page-top {
    background: #3cbee6;
    padding: 72px 0 87px 0;
}

.flexslider {
    overflow: hidden;
}

.flexslider .slides {
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
    display: block;
    width: 100%;
}

/* Clearfix for the .slides element */
.slides:after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.flex-caption h1, .flex-caption h6 {
    color: #ffffff;
    margin-bottom: 0;
}

.flex-caption h1 {
    font-family: 'Pacifico';
    margin-bottom: 32px;
}

.flex-control-nav {
    margin: 32px 0 0 0;
    padding: 0;
    list-style: none;
}

.flex-control-nav {
    width: 100%;
    text-align: center;
}

.flex-control-nav li {
    display: inline;
    margin: 0 5px;
}

.flex-control-nav li a {
    border-radius: 15px;
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: none;
    border: 2px solid #ffffff;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.flex-control-nav li a.flex-active,
.flex-control-nav li a:hover {
    background: #ffffff;
}

.home-feature {
    text-align: center;
}

.home-feature h5 {
    font-family: 'hand_of_seanregular', Arial, sans-serif;
    color: #1d2122;
}

.home-feature p {
    margin: 0;
}

.img-feature {
    margin: 32px 0;
}

.img-feature img {
    margin-left: auto;
    margin-right: auto;
}

.bkg-cover {
    background: #3cbee6;
}

.bkg-cover h2, .bkg-cover h4, .bkg-cover h5 {
    color: #ffffff;
}

.home-title-section, .page-section-title {
    text-align: center;
    font-family: 'hand_of_seanregular', Arial, sans-serif;
    line-height: 1;
}

.page-section-title {
    font-size: 54px;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 0;
}

.bkg-cover p {
    color: #CCEFF9;
}

.home-play-holder {
    margin-top: 24px;
}

.home-play-holder:first-child {
    margin-top: 0px;
}

.home-play-img {
    float: left;
}

.home-play-img img {
    border-radius: 50%;
    width: 130px;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.home-play-text {
    margin-left: 146px;
}

.client-avatar {
    float: right;
    margin-left: 10px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
}

.flexslider .slides .client-avatar img {
    border-radius: 50%;
    width: 100px;
}

.client-quote {
    margin-right: 110px;
}

.client-quote h6 {
    color: #ffffff;
}

.client-quote p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 16px;
}

.client-quote h6 {
    text-align: right;
}

.client-quote h6 span {
    font-size: 12px;
    text-transform: uppercase;
    color: #CCEFF9;
}

.flexslider-testimonials .flex-control-nav {
    margin: 0;
}

/******************* Pricing Table Demo - 6 *****************/
.demo6 {
    background: #FAD2C8;
    padding: 30px 0;

}

.pricingTable6 {
    padding-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transition: all .3s ease 0s
}

.pricingTable6 .title {
    padding: 40px 20px 170px;
    margin: 0 0 30px;
    background: linear-gradient(to bottom right, #fa6fe6, #ffef65);
    font-family: 'hand_of_seanregular', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    position: relative
}

.pricingTable6 .title:after, .pricingTable6 .title:before {
    content: "";
    width: 280px;
    height: 200px;
    border-radius: 80px;
    background: #fff;
    position: absolute;
    bottom: -175px;
    left: -46px;
    transform: rotate(-85deg)
}

.pricingTable6 .title:after {
    border-radius: 100px;
    bottom: auto;
    top: 150px;
    left: auto;
    right: -70px;
    transform: rotate(-40deg)
}

.pricingTable6 .price-value {
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 65px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .3);
    padding: 30px 0;
    font-size: 35px;
    font-weight: 600;
    color: #404040;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease 0s
}

.pricingTable6:hover .price-value {
    background: linear-gradient(to bottom, #fa6fe6, #ffef65);
    color: #fff
}

.pricingTable6 .month {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 0
}

.pricingTable6 .pricing-content {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    transition: all .3s ease 0s
}

.pricingTable6 .pricing-content li {
    padding: 7px 0 7px 50px;
    /*font-family: 'hand_of_seanregular', Arial, sans-serif;*/
    font-size: 16px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
    position: relative
}

.pricingTable6 .pricing-content li:before {
    content: "\f00c";
    font-family: "fontawesome";
    font-weight: 900;
    width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 50%;
    border: 2px solid #fb6ee5;
    color: #fb6ee5;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%)
}

.pricingTable6 .pricing-content li.disable {
    color: #707070
}

.pricingTable6 .pricing-content li.disable:before {
    display: none
}

.pricingTable6 .pricingTable-signup {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 30px;
    background: linear-gradient(to right, #fa6fe6, #ffef65);
    font-size: 22px;
    font-weight: 700;
    color: #404040;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    transition: all .3s ease 0s
}

.pricingTable6 .pricingTable-signup:hover {
    color: #fff
}

.pricingTable6 .pricingTable-signup:before {
    content: "";
    width: 98%;
    height: 92%;
    border-radius: 30px;
    background: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1
}

.pricingTable6 .pricingTable-signup:hover:before {
    background: 0 0
}

.pricingTable6.blue .title {
    background: linear-gradient(to bottom right, #44f2b5, #4cbde2)
}

.pricingTable6.blue:hover .price-value {
    background: linear-gradient(to bottom, #44f2b5, #4cbde2)
}

.pricingTable6.blue .pricing-content li:before {
    border-color: #44f2b5;
    color: #44f2b5
}

.pricingTable6.blue .pricingTable-signup {
    background: linear-gradient(to bottom right, #44f2b5, #4cbde2)
}

.pricingTable6.green .title {
    background: linear-gradient(to bottom right, #66fd9c, #f6fa60)
}

.pricingTable6.green:hover .price-value {
    background: linear-gradient(to bottom, #66fd9c, #f6fa60)
}

.pricingTable6.green .pricing-content li:before {
    border-color: #66fd9c;
    color: #66fd9c
}

.pricingTable6.green .pricingTable-signup {
    background: linear-gradient(to bottom right, #66fd9c, #f6fa60)
}

@media only screen and (max-width: 990px) {
    .pricingTable6 {
        margin-bottom: 30px
    }
}

@media only screen and (max-width: 767px) {
    .pricingTable6 .title:before {
        height: 400px;
        top: 100px;
        left: 55px
    }

    .pricingTable6 .title:after {
        width: 550px;
        height: 550px;
        top: 150px;
        right: -100px;
        transform: rotate(-20deg)
    }
}

@media only screen and (max-width: 480px) {
    .pricingTable6 .title:after, .pricingTable6 .title:before {
        width: 280px;
        height: 200px;
        top: 220px;
        left: -46px
    }

    .pricingTable6 .title:after {
        top: 150px;
        left: auto;
        right: -70px
    }
}

/******************* Pricing Table Demo - 6 *****************/

/**********
 back to top
 **********/
#backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    display: none;
    color: black;
    background: greenyellow;
    border-radius: 0;
}

/****************
collapse
*****************/
/*[data-toggle="collapse"].collapsed .if-not-collapsed {*/
    /*display: none;*/
/*}*/

/*[data-toggle="collapse"]:not(.collapsed) .if-collapsed {*/
    /*display: none;*/
/*}*/