@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{

}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.search_form
	{
		width: 152px;
		left: 134px;
	}
	.video_container_outer
	{
		height: calc(609px / 1.779);
	}
	.video_content
	{
		margin-top: calc(-1 * (609px / 1.875) / 2);
	}
	.footer_col
	{
		padding-right: 30px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav_contaner,
	.header_search,
	.user
	{
		display: none;
	}
	.hamburger
	{
		display: inline-block;
	}
	.top_bar_social
	{
		margin-left: 33px;
	}
	.regular_content
	{
		padding-left: 70px;
		padding-right: 70px;
	}
	.footer_logo
	{
		margin-top: 0;
		margin-bottom: 40px !important;
	}
	.footer_col
	{
		padding-right: 15px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 40px;
	}
	.footer_col:nth-child(2) > div
	{
		left: auto;
	}
	.footer_col:last-child > div
	{
		display: block;
		float: none;
	}
	.footer_phone
	{
		margin-right: 42px;
	}
	.copyright_content
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.cr_right
	{
		margin-top: 10px;
	}
	.footer_phone,
	.footer_social
	{
		display: block;
	}
	.footer_social
	{
		margin-top: 8px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.top_bar
	{
		display: none;
	}
	.header.scrolled
	{
		top: 0px;
	}
	.header.scrolled .header_content
	{
		height: 60px;
	}
	.home
	{
		height: 100px;
	}
	.regular_content
	{
		padding-left: 50px;
		padding-right: 50px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h1{font-size: 28px;}
	h2{font-size: 24px;}
	p{font-size: 13px;}
	.header_content
	{
		height: 70px;
	}
	.logo_text
	{
		font-size: 20px;
	}
	.home
	{
		height: 80px;
	}
	.menu
	{
		width: 100%;
		right: -100%;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 75px;
	}
	.menu_close_container
	{
		right: 18px;
	}
	.menu .search
	{
		margin-bottom: 40px;
	}
	.menu_extra
	{
		right: 20px;
		bottom: 10px;
	}
	.menu_phone, .menu_social
	{
		font-size: 10px;
	}
	.menu_social
	{
		margin-top: 0;
	}
	.regular_content
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	.regular_title
	{
		font-size: 24px;
	}
	.regular_text
	{
		margin-top: 20px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{

}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{

}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{

}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}