{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Search |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-graduation-cap"></i> Courses </h1>
            <p>ESwahiligigs </p>
        </div>

        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'courses:list' %}"> Courses</a></li>
            <li class="breadcrumb-item">Search</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h2>Results</h2>
                                {% for item in qs %}
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}