{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Courses |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i> Courses Detail</h1>
            <p>ESwahiligigs {{ object.title }} course</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            {% if request.user.is_superuser or request.user.is_staff %}
                <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'courses:list' %}">Courses</a>
                </li>
                <li class="breadcrumb-item"><a class="btn btn-warning" href="{% url 'courses:edit' object.slug %}">Edit
                    This Course</a></li>
                <li class="breadcrumb-item"><a class="btn btn-danger" href="{% url 'courses:delete' object.slug %}">Delete
                    This Course</a></li>
            {% else %}
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'courses:list' %}">Courses</a></li>
                <li class="breadcrumb-item"><a href=""></a> {{ object.title }}</li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">
                        {{ object.title }}
                        {% if object.image %}<img src="{{ object.image.url }}" class="img-fluid" alt="">{% endif %}
                        {{ object.description }}
                        {% if not user.is_subscribed %}
                            {#        {{ object.display_price }}#}
                            <a href="{% url 'payments:checkout' %}">Enroll</a>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% for item in object.lecture_set.all %}

                                    <div class="list-group">
                                        <a {% if user.is_subscribed or item.free %}
                                            href="{{ item.get_absolute_url }}" {% endif %}class="list-group-item list-group-item-action lead ">
                                            {{ item.title }}{% if item.free %}
                                                <small>Free Preview</small>{% endif %}
                                        </a>
                                        {% empty %}
                                        <p class="lead"> Lectures coming soon</p>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock content %}