{% extends 'dashboard/dashboard_base.html' %}
{% load search_form %}
{% block title %} Courses |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-university"></i> Courses</h1>
            <p>Best swahili courses for all users</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Courses</li>
        </ul>
    </div>
    {#    {% if request.GET.q %}#}
    {#        <p> You searched for <b>{{ request.GET.q }}</b></p>#}
    {#    {% endif %}#}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="row">
                    <div class="col-md-4 offset-md-3">
                        {% search_form request %}
                    </div>
                </div>

                <div class="row">
                    {% if user.is_subscribed %}
                        {% for item in object_list %}
                            <div class="col-md-4 col-sm-12">
                                {% include 'courses/snippets/course_thumbnail_subscribed_display.html' with course=item user=user %}

                            </div>
                            {% cycle '' '' '</div><div class="row">' %}
                        {% empty %}
                            <p class="lead">No Item Found</p>
                        {% endfor %}
                    {% else %}
                        {% for item in object_list %}
                            <div class="col-md-4 col-sm-12">
                                {% include 'courses/snippets/course_thumbnail_display.html' with course=item user=user %}

                            </div>
                            {% cycle '' '' '</div><div class="row">' %}
                        {% empty %}
                            <p class="lead">No Item Found</p>
                        {% endfor %}
                    {% endif %}

                </div>
                <div class="row">
                    <div class="offset-lg-4">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    {% if page_obj.previous_page_number > 1 %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{% url 'courses:list' %}?page=1">First</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{% url 'courses:list' %}?page={{ page_obj.previous_page_number }} "
                                           aria-label="Previous"><span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span></a>
                                    </li>
                                    {% if page_obj.previous_page_number > 1 %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="{% url 'courses:list' %}?page={{ page_obj.previous_page_number }} ">{{ page_obj.previous_page_number }}</a>
                                        </li>
                                    {% endif %}

                                {% endif %}
                                <li class="page-item active"><a class="page-link" href="#"> {{ page_obj.number }}<span
                                        class="sr-only">(current)</span></a>
                                </li>

                                {% if page_obj.has_next %}
                                    {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{% url 'courses:list' %}?page={{ page_obj.next_page_number }} ">{{ page_obj.next_page_number }}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{% url 'courses:list' %}?page={{ page_obj.next_page_number }} "
                                                             aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span></a>
                                    </li>
                                    {% if page_obj.paginator.num_pages > page_obj.number %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{% url 'courses:list' %}?page={{ page_obj.paginator.num_pages }} ">Last</a>
                                        </li>
                                    {% endif %}

                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>


                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>


{% endblock content %}