{% extends 'dashboard/dashboard_base.html' %}
{% load render_video %}

{% block title %} Courses |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    {{ object.title }}
                    <div class="col-sm-6">
                        {% render_video object.video %}
                        <div class="load_comments" data-url="{{ request.build_absolute_uri }}"
                             data-api-endpoint="/api/comments/"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock content %}