{% extends 'base.html' %}
{% block title %} Courses |  {{ block.super }}   {% endblock %}
{% block content %}

   <h3>Purchase  {{ object.title }}</h3>
    {{ object.description }}
    {% if not object.is_owner %}
        {{ object.display_price }}
        <a href="{{ object.get_purchase_url }}">Purchase</a>
    {% endif %}


{% endblock content %}