<div class="card">
    {% if course.image %}
        <img src="{{ course.image.url }}" class=" card-img-top  img-fluid">
    {% endif %}
    <div class="card-body">
        <h3>{{ course.title }}</h3>

            <p><a href="{% url 'payments:checkout' %}" class="btn btn-warning"
                  role="button">Enroll {# {{ item.display_price }} #}  </a></p>

    </div>
</div>
