<div class="card">
    {% if course.image %}
        <img src="{{ course.image.url }}" class=" card-img-top  img-fluid">
    {% endif %}
    <div class="card-body">
        <h3>{{ course.title }}</h3>


            <p><a href="{{ course.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>


    </div>
</div>