<form method="get" action="{% url 'search:default' %}">
    <div class="form-group">
        <input type="text" value="{{ request.GET.q }}" name="q" class="form-control" placeholder="Search...">
        {#    <input type="hidden" value="{{ request.GET.page }}" name="page" class="form-control" placeholder="Search...">#}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Search</button>
    </div>
</form>