{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Messages |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-graduation-cap"></i> Messages </h1>
            <p>ESwahiligigs </p>
        </div>

        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'eswahiligigs_messages:list' %}"> Messages</a></li>
            <li class="breadcrumb-item">Add or Edit</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action="">{% csrf_token %}
                            {{ form }}

                            {#                            <h3>Lectures</h3>#}
                            {#                           {{ lecture.management_form }}#}
                            {#{% for form in lecture.forms  %}#}
                            {#    {{ form }}#}
                            {##}
                            {#                            {% endfor %}#}


                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}