{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Messages |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i> Message Detail</h1>
            <p>ESwahiligigs {{ object.title }} message</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            {% if request.user.is_superuser or request.user.is_staff %}
                <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'eswahiligigs_messages:list' %}">Messages</a>
                </li>
                <li class="breadcrumb-item"><a class="btn btn-warning"
                                               href="{% url 'eswahiligigs_messages:edit' object.pk %}">Edit
                    This Message</a></li>
                <li class="breadcrumb-item"><a class="btn btn-danger" href="{% url 'eswahiligigs_messages:delete' object.pk %}">Delete
                    This Message</a></li>
            {% else %}
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'eswahiligigs_messages:list' %}">Messages</a></li>
                <li class="breadcrumb-item"><a href=""></a> {{ object.title }}</li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ object.title }}</h5>
                                    {{ object.message }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>




{% endblock content %}