{% extends 'dashboard/dashboard_base.html' %}
{% load search_form %}
{% block title %} Messages |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-university"></i> Messages</h1>
            <p>Best swahili courses for all users</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Messages</li>
        </ul>
    </div>
    {#    {% if request.GET.q %}#}
    {#        <p> You searched for <b>{{ request.GET.q }}</b></p>#}
    {#    {% endif %}#}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="row">

                    {% for item in object_list %}
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        {% if user.is_staff or user.is_superuser %}
                                            <a href="{% url 'eswahiligigs_messages:detail' item.pk %}">{{ item.title }}</a>
                                        {% else %}
                                            {{ item.title }}
                                        {% endif %}
                                    </h5>
                                    {{ item.message }}
                                </div>
                            </div>
                        </div>

                    {% empty %}
                        <p class="lead">No Messages</p>

                    {% endfor %}

                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>


{% endblock content %}