{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Messages |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Messages</h1>
            <p>Eswahiligigs Messages </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'eswahiligigs_messages:list' %}">messages</a></li>
            <li class="breadcrumb-item"><a href="{% url 'eswahiligigs_messages:detail' object.pk %}"> {{ object.title }}</a></li>
            <li class="breadcrumb-item">Delete</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action="">{% csrf_token %}
                            <p>Are you sure you want to delete <b>{{ object.title }}?</b> Message</p>
                            <input type="submit" value="Yes" class="btn btn-danger">
                            <a class="btn btn-warning" href="{% url 'eswahiligigs_messages:detail' object.pk %}">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}