
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>{% block title %} Eswahiligigs {% endblock title %} </title>

    {% include 'defaults/head.html' %}
</head>

<body>
<div class="container-fluid">
    {% block content %}

    {% endblock content %}
</div>
{% include 'defaults/scripts.html' %}
</body>

</html>