<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div style="height: 100vh;min-height:100vh;" class="row align-items-center">
        <div class="col text-center">
            <div class="content">
                <h1>Something new coming soon.</h1>
                <a class="btn btn-outline-primary mt-4" href="http://www.eswahiligigs.com" target="_self">Visit www.eswahiligigs.com</a>
            </div>
        </div>
    </div>
</div>