{% extends 'base.html' %}
{% block title %} Home |  {{ block.super }}   {% endblock %}
{% block content %}
    {#    {% for item in qs %}#}
    {#        <p>{{ item.title }} me</p>#}
    {#    {% endfor %}#}
    {% for item in rec_courses %}
        {% if not item.is_owner %}
            <p>{{ item.title }} me</p>
        {% endif %}
    {% endfor %}
    {% if request.user.is_subscribed %}
        <p>Paid</p>
    {% endif %}
{% endblock content %}