{% extends 'base.html' %}
{% block title %} Main |  {{ block.super }}   {% endblock %}
{% block content %}
    {% include 'defaults/header_nav.html' %}

    <section id="into-video">
        <div class="container mt-4">

            <div class="text-center darken-grey-text mb-4">
                <h3 class="font-bold mt-4 mb-3 h5"></h3>
            </div>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 mb-3">

                    <div class="card">
                        <div class="card-block p-4">
                            <!--Title-->
                            <h3 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong
                                    style="font-family: 'hand_of_seanregular', Arial, sans-serif"> Eswahiligigs Intro
                                Video</strong></h3>

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
        </div>
    </section>

    <section id="about" class="wrap margin-t54"> <!-- home-play -->

        <div class="bkg-cover padding-72">

            <h2 class="home-title-section margin-b54">Come and learn with us</h2>

            <div class="container">

                <div class="row">

                    <div class="col-md-6">

                        <h4 class="margin-b24">Eswahiligigs and Swahili language</h4>

                        <p style="font-size: 16px;"> Swahili (locally referred to as Kiswahili) is Kenya’s national
                            language. Swahili originated
                            on the East African coast, as a trade language used by both Arabs and coastal tribes.Today,
                            the language is also used in regions of Ethiopia, Sudan, Uganda, Rwanda, Burundi, the Congo
                            and Zambia, and is the most widely spoken African language. In Kenya, most people generally
                            speak a tribal language at home, use Swahili as an everyday language, and English for
                            business.</p>
                        <h5 class="margin-b24">Reasons for learning Swahili</h5>
                        <div class="container">

                            <ul style=" color: #FFFFFF; font-family: 'hand_of_seanregular', Arial, sans-serif; font-size: 20px">
                                <li style="padding-bottom: 10px;">Swahili Language is the mostly spoken African
                                    language
                                </li>
                                <li style="padding-bottom: 10px;">Swahili Pronunciation is Easy</li>
                                <li style="padding-bottom: 10px;">Eswahiligigs has a very fun and interactive way of
                                    teaching
                                </li>

                                <li style="padding-bottom: 10px;">Swahili language is the only native language adopted
                                    by the African Union
                                </li>
                                <li style="padding-bottom: 10px;">The swahili language is constantly being adopted by
                                    many African countries
                                </li>
                                <li style="padding-bottom: 10px;"> Eswahiligigs has great courses to take ypu from
                                    beginner to intermediate level
                                </li>
                                <li style="padding-bottom: 10px;">We will recommend the best resources to learn the
                                    language
                                </li>
                            </ul>

                        </div>


                    </div><!--end col-md-6-->

                    <div class="col-md-6">

                        <div class="home-play-holder clearfix">

                            <div class="home-play-img">

                                <img src="/static/img/play-1.jpg" alt=""/>

                            </div><!--end home-play-img-->

                            <div class="home-play-text">

                                <h5 class="margin-b16" style="font-family: 'hand_of_seanregular', Arial, sans-serif">
                                    Never learnt Swahili Before? </h5>

                                <p style="font-size: 16px;"> Not a problem. Swahili is a relatively simple language
                                    which is highly phonetic with a rigid grammar. In keeping up with this notion <b>Eswahiligigs</b>
                                    teaches you the language
                                    in a simple but intuitive and fun way</p>

                            </div><!--end home-play-text-->

                        </div><!--end home-play-holder-->


                        <div class="home-play-holder clearfix">

                            <div class="home-play-img">

                                <img src="/static/img/play-2.jpg" alt=""/>

                            </div><!--end home-play-img-->

                            <div class="home-play-text">

                                <h5 class="margin-b16" style="font-family: 'hand_of_seanregular', Arial, sans-serif">
                                    Build real language skills step-by-step</h5>

                                <p style="font-size: 16px;">Whether you are learning for conversation purposes or just
                                    to help you get by while visiting the region, at Eswahiligigs we are determined to
                                    help
                                    you achieve your goals.Our courses are designed by swahili teachers with a
                                    vast knowledge of the language and tailored to suit each an every students. </p>

                            </div><!--end home-play-text-->

                        </div><!--end home-play-holder-->

                        <div class="home-play-holder clearfix">

                            <div class="home-play-img">

                                <img src="/static/img/play-3.jpg" alt=""/>

                            </div><!--end home-play-img-->

                            <div class="home-play-text">

                                <h5 class="margin-b16" style="font-family: 'hand_of_seanregular', Arial, sans-serif">
                                    Learn at your own pace</h5>

                                <p style="font-size: 16px;">At Eswahiligigs we understand that each one of us learns
                                    differently and that why we
                                    have tailored our courses to make it easy to learn at own pace. We recommend the
                                    order on which to learn the courses in order to gain masterly of the Swahili
                                    language.</p>

                            </div><!--end home-play-text-->

                        </div><!--end home-play-holder-->


                    </div><!--end col-md-6-->

                </div><!--end row-->

            </div><!--end container-->

        </div><!--bkg-cover-->

    </section><!--home-play-->

    <section id="services" class="wrap margin-t54 "
             style="background-color: #ff5733; padding-top: 10px; padding-bottom: 20px;"><!--home-features-->

        <div class="container">
            <div class="row padding-t24 padding-b24">

                <div class="col-md-4 home-feature">
                    <h5>Fun Learning</h5>
                    <div class="img-feature"><img class="img-responsive" src="/static/img/feature-1.png" alt=""/></div>
                    <p>Eswahiligigs provides an intuitive and fun way to learn the Swahili languages through interactive
                        videos that help in not only explaining the meaning of the phrases but also the pronunciation of
                        the same.</p>


                </div><!--end home-feature-->

                <div class="col-md-4 home-feature">
                    <h5>Develop Swahili Skills</h5>
                    <div class="img-feature"><img class="img-responsive" src="/static/img/feature-2.png" alt=""/></div>
                    <p>Our platform will help you develop great Swahili skills by providing an immersive learning
                        environment that brings together amazing swahili teachers and helping you develop the right
                        skills when learning the language.</p>


                </div><!--end home-feature-->

                <div class="col-md-4 home-feature">
                    <h5>Future Success</h5>
                    <div class="img-feature"><img class="img-responsive" src="/static/img/feature-3.png" alt=""/></div>
                    <p>Whatever your reason for learning Swahili is, we truly believe that through our platform you will
                        achieve your set goals. </p>


                </div><!--end home-feature-->

            </div><!--end row-->
        </div><!--end container-->

    </section><!--home-features-->
    {% if courses %}
        <section id="courses"><!--courses -->
            <div class="row">
                {% for course in courses %}
                    <div class="card col-md-6 p-3">
                        <div class="row ">
                            <div class="col-md-4">
                                <img class="w-100" src="/static/img/play-1.jpg">
                            </div>
                            <div class="col-md-8">
                                <div class="card-block">
                                    <h6 class="card-title">{{ course.title }}</h6>
                                    <p class="card-text text-justify">{{ course.description }}</p>
                                    <a href="{% url 'courses:detail' course.slug%}" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </section><!-- end courses -->
    {% endif %}

    <section id="pricing" class="wrap"><!--pricing-->
        <div class="demo6">
            <div class="container">
                <h4 style="padding-top:10px; text-align: center; font-family: 'hand_of_seanregular', Arial, sans-serif">
                    Pricing </h4>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable6">
                            <h3 class="title">Monthly</h3>
                            <div class="price-value">$30.00
                                <span class="month">/month</span>
                            </div>
                            <ul class="pricing-content">
                                <li>Step By Step Instruction to learning swahili</li>
                                <li>Unlimited Access to All Courses</li>
                                <li>Unlimited Streaming Content</li>
                                <li>Learn & Master swahili</li>
                                <li> Email & Community Support</li>
                                <li class="disable"><i class="fa fa-times"></i></li>
                            </ul>
                            {#                            <a href="#" class="pricingTable-signup">Sign up</a>#}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable6 blue">
                            <h3 class="title">Quarterly</h3>
                            <div class="price-value">$30.00
                                <span class="month">/month</span>
                            </div>
                            <ul class="pricing-content">
                                <li>Step By Step Instruction to learning swahili</li>
                                <li>Unlimited Access to All Courses</li>
                                <li>Unlimited Streaming Content</li>
                                <li>Learn & Master swahili</li>
                                <li> Email & Community Support</li>
{#                                <li> save over 100$</li>#}
                            </ul>
                            {#                            <a href="#" class="pricingTable-signup">Sign up</a>#}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable6 green">
                            <h3 class="title">Yearly</h3>
                            <div class="price-value">$30.00
                                <span class="month">/month</span>
                            </div>
                            <ul class="pricing-content">
                                <li>Step By Step Instruction to learning swahili</li>
                                <li>Unlimited Access to All Courses</li>
                                <li>Unlimited Streaming Content</li>
                                <li>Learn & Master swahili</li>
                                <li> Email & Community Support</li>
{#                                <li> save over 200$</li>#}
                            </ul>
                            {#                            <a href="#" class="pricingTable-signup">Enroll</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {% include 'defaults/footer.html' %}

{% endblock content %}