{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Categories |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Categories</h1>
            <p>Eswahiligigs courses categories</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            {#            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>#}
            {% if request.user.is_superuser or request.user.is_staff %}
                <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'categories:list' %}">Categories</a>
                </li>
                <li class="breadcrumb-item"><a class="btn btn-warning" href="{% url 'categories:edit' object.slug %}">Edit
                    This Categories</a></li>
                <li class="breadcrumb-item"><a class="btn btn-danger" href="{% url 'categories:delete' object.slug %}">Delete
                    This Category</a></li>
            {% else %}
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'categories:list' %}">Categories</a></li>
                <li class="breadcrumb-item"><a href=""></a> {{ object.title }}</li>
            {% endif %}


        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="row">
                    {% if user.is_subscribed %}
                        {% for item in featured_courses %}
                            <div class="col-md-3 col-sm-12">
                                {% include 'courses/snippets/course_featured_subscribed_display.html' with course=item %}
                            </div>
                            {% cycle '' '' '</div><div class="row">' %}
                        {% endfor %}
                        {% else %}
                         {% for item in featured_courses %}
                            <div class="col-md-3 col-sm-12">
                                {% include 'courses/snippets/course_featured_thumbnail.html' with course=item %}
                            </div>
                            {% cycle '' '' '</div><div class="row">' %}
                        {% endfor %}

                    {% endif %}
                </div>
                <div class="row">
                    {% if user.is_subscribed %}
                        {% for item in courses %}
                            <div class="col-md-4 col-sm-12">
                                {% include 'courses/snippets/course_thumbnail_subscribed_display.html' with course=item %}
                            </div>
                            {% cycle '' '' '</div><div class="row">' %}
                        {% empty %}
                            <div class="row">
                                <div class="col-lg-12 offset-lg-4">
                                    <p class="lead"> No Courses associated with this Category</p>
                                    <a href="{% url 'categories:list' %}">Go back to Categories</a>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        {% for item in courses %}
                            <div class="col-md-4 col-sm-12">
                                {% include 'courses/snippets/course_thumbnail_display.html' with course=item %}
                            </div>
                            {% cycle '' '' '</div><div class="row">' %}
                        {% empty %}
                            <div class="row">
                                <div class="col-lg-12 offset-lg-4">
                                    <p class="lead"> No Courses associated with this Category</p>
                                    <a href="{% url 'categories:list' %}">Go back to Categories</a>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}


                </div>
            </div>
        </div>
    </div>

{% endblock %}