{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Categories |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Categories</h1>
            <p>Eswahiligigs courses categories</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Categories</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="row">
                    <div class="col-sm-12">
                        <h1>Categories</h1>
                    </div>
                    <div class="col-sm-3">
                        <div class="list-group">
                            {% for item in object_list %}
                                <a href="{{ item.get_absolute_url }}"
                                   class="list-group-item d-flex justify-content-between align-items-center ">
                                    {{ item.title }}
                                    {% if item.courses_length > 0 %}

                                        {% if item.primary_category.all.count > 0 %}
                                            <span class="badge badge-primary  badge-pill">
                                  {{ item.primary_category.all.count }} Featured </span>
                                        {% endif %}
                                        <span class="badge badge-primary badge-pill">{{ item.courses_length }} Course
                                            {% if item.courses_length > 1 %}s {% endif %}</span>

                                    {% endif %}
                                </a>
                                {% if forloop.counter|divisibleby:2 %}
                                    </div></div>
                                    <div class="col-sm-3">
                                    <div class="list-group">
                                {% endif %}
                            {% endfor %}

                            </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}