{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Account |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Account</h1>
            <p>Eswahiligigs {{ request.user.username }} account</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">

            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'account_dashboard' %}">Account</a></li>
            <li class="breadcrumb-item"><a href=""></a> {{ request.user.username }}</li>


        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="list-group">

                            <a href="{% url 'account_email' %}"
                               class="list-group-item d-flex justify-content-between align-items-center ">

                                Email
                            </a>
                            <a href="{% url 'account_change_password' %}"
                               class="list-group-item d-flex justify-content-between align-items-center ">

                                change password
                            </a>
                            <a href="{% url 'account_set_password' %}"
                               class="list-group-item d-flex justify-content-between align-items-center ">

                                reset password
                            </a>

                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="list-group">


                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="list-group">


                        </div>

                    </div>


                </div>
            </div>
        </div>

{% endblock %}