<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %} Eswahiligigs Dashboard {% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% include 'dashboard/defaults/head.html' %}
</head>
<body class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header"><a class="app-header__logo" href="{% url 'dashboard' %}">Eswahiligigs</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <li class="app-search">
            <form method="get" action="{% url 'search:default' %}">
                {#            <input class="app-search__input" type="search" placeholder="Search">#}
                <input type="search" value="{{ request.GET.q }}" name="q" class="app-search__input"
                       placeholder="Search...">
                <button class="app-search__button"><i class="fa fa-search"></i></button>
            </form>
        </li>
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i
                class="fa fa-bell-o fa-lg"></i></a>
            <ul class="app-notification dropdown-menu dropdown-menu-right">
                <li class="app-notification__title">You have 0 new notifications.</li>
                <div class="app-notification__content">
                    {#                    <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span#}
                    {#                            class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i#}
                    {#                            class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>#}
                    {#                        <div>#}
                    {#                            <p class="app-notification__message">Lisa sent you a mail</p>#}
                    {#                            <p class="app-notification__meta">2 min ago</p>#}
                    {#                        </div>#}
                    {#                    </a></li>#}
                    {#                    <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span#}
                    {#                            class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i#}
                    {#                            class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>#}
                    {#                        <div>#}
                    {#                            <p class="app-notification__message">Mail server not working</p>#}
                    {#                            <p class="app-notification__meta">5 min ago</p>#}
                    {#                        </div>#}
                    {#                    </a></li>#}
                    {#                    <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span#}
                    {#                            class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i#}
                    {#                            class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>#}
                    {#                        <div>#}
                    {#                            <p class="app-notification__message">Transaction complete</p>#}
                    {#                            <p class="app-notification__meta">2 days ago</p>#}
                    {#                        </div>#}
                    {#                    </a></li>#}
                    {#                    <div class="app-notification__content">#}
                    {#                        <li><a class="app-notification__item" href="javascript:;"><span#}
                    {#                                class="app-notification__icon"><span class="fa-stack fa-lg"><i#}
                    {#                                class="fa fa-circle fa-stack-2x text-primary"></i><i#}
                    {#                                class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>#}
                    {#                            <div>#}
                    {#                                <p class="app-notification__message">Lisa sent you a mail</p>#}
                    {#                                <p class="app-notification__meta">2 min ago</p>#}
                    {#                            </div>#}
                    {#                        </a></li>#}
                    {#                        <li><a class="app-notification__item" href="javascript:;"><span#}
                    {#                                class="app-notification__icon"><span class="fa-stack fa-lg"><i#}
                    {#                                class="fa fa-circle fa-stack-2x text-danger"></i><i#}
                    {#                                class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>#}
                    {#                            <div>#}
                    {#                                <p class="app-notification__message">Mail server not working</p>#}
                    {#                                <p class="app-notification__meta">5 min ago</p>#}
                    {#                            </div>#}
                    {#                        </a></li>#}
                    {#                        <li><a class="app-notification__item" href="javascript:;"><span#}
                    {#                                class="app-notification__icon"><span class="fa-stack fa-lg"><i#}
                    {#                                class="fa fa-circle fa-stack-2x text-success"></i><i#}
                    {#                                class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>#}
                    {#                            <div>#}
                    {#                                <p class="app-notification__message">Transaction complete</p>#}
                    {#                                <p class="app-notification__meta">2 days ago</p>#}
                    {#                            </div>#}
                    {#                        </a></li>#}
                </div>
                </div>
                <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
            </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i
                class="fa fa-user fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="{% url 'account_dashboard' %}"><i class="fa fa-cog fa-lg"></i>
                    Settings</a></li>
                <li><a class="dropdown-item" href="{% url 'account_dashboard' %}"><i class="fa fa-user fa-lg"></i>
                    Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-lg"></i>
                    Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        {#        <img class="app-sidebar__user-avatar"#}
        {#                                        src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"#}
        {#                                        alt="User Image">#}
        <i
                class="app-sidebar__user-avatar fa fa-user-circle fa-3x"></i>
        <div>
            <p class="app-sidebar__user-name">Hi </p>
            {% if request.user.is_authenticated %}
                <p class="app-sidebar__user-designation">{{ request.user.username }}</p>
            {% endif %}
        </div>
    </div>
    <ul class="app-menu" id="navMenu">
        {% if request.user.is_superuser or request.user.is_staff %}
            <li><a class="app-menu__item {% if "dashboard" in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'dashboard' %}"><i
                    class="app-menu__icon fa fa-tachometer"></i><span
                    class="app-menu__label">Dashboard</span></a></li>
            {# Courses #}

            <li class="treeview"><a
                    class="app-menu__item {% if "course" in request.resolver_match.view_name %}active{% endif %}"
                    href="#" data-toggle="treeview"><i
                    class="app-menu__icon fa fa-university"></i><span class="app-menu__label">Courses</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item {% if "courses" in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'courses:list' %}"><i class="icon fa fa-circle-o"></i>
                        all courses</a></li>
                    <li><a class="treeview-item" href="{% url 'courses:create' %}"><i class="icon fa fa-circle-o"></i>
                        Add Course</a></li>
                </ul>
            </li>
            {# Categories #}
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                    class="app-menu__icon fa fa-list-ul"></i><span class="app-menu__label">Categories</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{% url 'categories:list' %}"><i class="icon fa fa-circle-o"></i>
                        all categories</a></li>
                    <li><a class="treeview-item" href="{% url 'categories:create' %}"><i
                            class="icon fa fa-circle-o"></i> Add Category</a></li>
                </ul>
            </li>
            {# Videos #}
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                    class="app-menu__icon fa fa-video-camera"></i><span class="app-menu__label">Videos</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{% url 'videos:list' %}"><i class="icon fa fa-circle-o"></i>
                        all videos</a></li>
                    <li><a class="treeview-item" href="{% url 'videos:create' %}"><i
                            class="icon fa fa-circle-o"></i> Add Video</a></li>

                </ul>

            </li>
            {# Messages #}
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                    class="app-menu__icon fa fa-comment"></i><span class="app-menu__label">Messages</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{% url 'eswahiligigs_messages:list' %}"><i class="icon fa fa-circle-o"></i>
                        all messages</a></li>
                    <li><a class="treeview-item" href="{% url 'eswahiligigs_messages:create' %}"><i
                            class="icon fa fa-circle-o"></i> Create Message</a></li>

                </ul>

            </li>
            {# questions #}
             <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                    class="app-menu__icon fa fa-question-circle "></i><span class="app-menu__label">Questions</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{% url 'questions:my_questions' %}"><i class="icon fa fa-circle-o"></i>
                        my questions</a></li>
                     <li><a class="treeview-item" href="{% url 'questions:list' %}"><i class="icon fa fa-circle-o"></i>
                        all questions</a></li>
                    <li><a class="treeview-item" href="{% url 'questions:create' %}"><i
                            class="icon fa fa-circle-o"></i> Ask a  question</a></li>

                </ul>

            </li>

            <li><a class="app-menu__item" href="{% url 'account_dashboard' %}"><i
                    class="app-menu__icon fa fa-user"></i><span
                    class="app-menu__label">Account</span></a></li>
            <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-money"></i><span
                    class="app-menu__label">Payments</span></a></li>
            {# Videos #}
        {% else %}
            <li><a class="app-menu__item {% if "dashboard" in request.resolver_match.url_name %}active{% endif %}"
                   href="{% url 'dashboard' %}"><i
                    class="app-menu__icon fa fa-tachometer"></i><span
                    class="app-menu__label">Dashboard</span></a></li>
            <li><a class="app-menu__item {% if "courses" in request.resolver_match.url_name %}active{% endif %} "
                   href="{% url 'courses:list' %}"><i
                    class="app-menu__icon fa fa-university"></i><span
                    class="app-menu__label">Courses</span></a></li>
            <li><a class="app-menu__item " href="{% url 'categories:list' %}"><i
                    class="app-menu__icon fa fa-list-ul"></i><span
                    class="app-menu__label">Categories</span></a></li>
            <li><a class="app-menu__item" href="{% url 'account_dashboard' %}"><i class="app-menu__icon fa fa-user"></i><span
                    class="app-menu__label">Account</span></a></li>
            <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-money"></i><span
                    class="app-menu__label">Payments</span></a></li>
            <li><a class="app-menu__item" href="{%  url 'eswahiligigs_messages:list' %}"><i class="app-menu__icon fa fa-comment"></i><span
                    class="app-menu__label">Messages</span></a></li>
            <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-file-pdf-o"></i><span
                    class="app-menu__label">Downloads</span></a></li>
            {# questions #}
             <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                    class="app-menu__icon fa fa-question-circle "></i><span class="app-menu__label">Questions</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{% url 'questions:my_questions' %}"><i class="icon fa fa-circle-o"></i>
                        my questions</a></li>
                     <li><a class="treeview-item" href="{% url 'questions:list' %}"><i class="icon fa fa-circle-o"></i>
                        all questions</a></li>
                    <li><a class="treeview-item" href="{% url 'questions:create' %}"><i
                            class="icon fa fa-circle-o"></i> Ask a  question</a></li>

                </ul>

            </li>
            {#             <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i#}
            {#                class="app-menu__icon fa fa fa-user"></i><span class="app-menu__label">Account</span><i#}
            {#                class="treeview-indicator fa fa-angle-right"></i></a>#}
            {#            <ul class="treeview-menu">#}
            {#                <li><a class="treeview-item" href="form-components.html"><i class="icon fa fa-circle-o"></i> Form#}
            {#                    Components</a></li>#}
            {#                <li><a class="treeview-item" href="form-custom.html"><i class="icon fa fa-circle-o"></i> Custom#}
            {#                    Components</a></li>#}
            {#                <li><a class="treeview-item" href="form-samples.html"><i class="icon fa fa-circle-o"></i> Form#}
            {#                    Samples</a></li>#}
            {#                <li><a class="treeview-item" href="form-notifications.html"><i class="icon fa fa-circle-o"></i> Form#}
            {#                    Notifications</a></li>#}
            {#            </ul>#}
            {#        </li>#}

        {% endif %}


    </ul>
</aside>

<main class="app-content">
    {% block content %}
        <div class="app-title">
            <div>
                <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
                <p>Eswahiligigs for best swahili courses</p>

            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ul>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="tile">
                    {% if messages %}
                        <div class="row">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                                        {{ message.tags|title }}{% endif %}!</strong> {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <h3 class="tile-title">Recently Viewed</h3>
                    <div class="row">
                        {% if user.is_subscribed %}
                            {% for item in courses_views %}
                                <div class="col-md-4 col-sm-12">
                                    {% include 'courses/snippets/course_thumbnail_subscribed_display.html' with course=item.course user=user %}

                                </div>
                                {% cycle '' '' '</div><div class="row">' %}
                            {% empty %}
                                <p class="lead">No Item Found</p>
                            {% endfor %}
                        {% else %}
                            {% for item in courses_views %}
                                <div class="col-md-4 col-sm-12">
                                    {% include 'courses/snippets/course_thumbnail_display.html' with course=item.course user=user %}

                                </div>
                                {% cycle '' '' '</div><div class="row">' %}
                            {% empty %}
                                <p class="lead">No Item Found</p>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="tile">


                    <h3 class="tile-title">Most Viewed Courses</h3>

                    <div class="row">
                        {% if user.is_subscribed %}
                            {% for item in most_views %}
                                <div class="col-md-4 col-sm-12">
                                    {% include 'courses/snippets/course_thumbnail_subscribed_display.html' with course=item.course user=user %}

                                </div>
                                {% cycle '' '' '</div><div class="row">' %}
                            {% empty %}
                                <p class="lead">No Item Found</p>
                            {% endfor %}
                        {% else %}
                            {% for item in most_views %}
                                <div class="col-md-4 col-sm-12">
                                    {% include 'courses/snippets/course_thumbnail_display.html' with course=item.course user=user %}

                                </div>
                                {% cycle '' '' '</div><div class="row">' %}
                            {% empty %}
                                <p class="lead">No Item Found</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Eswahiligigs</h3>
                    <p>Swahili (locally referred to as Kiswahili) is Kenya’s national language. Swahili originated on
                        the East African coast, as a trade language used by both Arabs and coastal tribes.Today, the
                        language is also used in regions of Ethiopia, Sudan, Uganda, Rwanda, Burundi, the Congo and
                        Zambia, and is the most widely spoken African language. In Kenya, most people generally speak a
                        tribal language at home, use Swahili as an everyday language, and English for business.</p>
                    <p>Go to <a href="{% url 'home' %}" target="_blank">Eswahiligis</a>
                    </p>
                    <p> Swahili is a relatively simple language which is highly phonetic with a rigid grammar <a
                            href="#">Eswahiligigs</a>.
                        Whether you are learning for conversation purposes or just to help you get by while visiting the
                        region, at Eswahiligigs we are determined to help you achieve your goals</p>
                </div>
            </div>
        </div>

    {% endblock %}
</main>

<!-- Essential javascripts for application to work-->
{% include 'dashboard/defaults/scripts.html' %}

<script type="text/javascript">
    var loc = window.location.pathname;

    $('#navMenu').find('a').each(function () {
        $(this).toggleClass('active', $(this).attr('href') == loc);
    });
</script>

</body>
</html>