{% extends 'dashboard/dashboard_base.html' %}
{% load render_video %}
{% block title %} Videos |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Videos</h1>
            <p>Eswahiligigs Videos</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            {#            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>#}
            {% if request.user.is_superuser or request.user.is_staff %}
                <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'videos:list' %}">Videos</a>
                </li>
                <li class="breadcrumb-item"><a class="btn btn-warning" href="{% url 'videos:edit' object.slug %}">Edit
                    This Video</a></li>
                <li class="breadcrumb-item"><a class="btn btn-danger" href="{% url 'videos:delete' object.slug %}">Delete
                    This Video</a></li>
                 {% else %}
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'videos:list' %}">Videos</a></li>
                <li class="breadcrumb-item"><a href=""></a> {{ object.title }}</li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>{{ object.title }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {% render_video object %}
                        <div class="load_comments" data-url="{{ request.build_absolute_uri }}"
                             data-api-endpoint="/api/comments/"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}