{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Videos |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-list-ul"></i> Videos</h1>
            <p>Eswahiligigs courses videos</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'videos:list' %}">Videos</a></li>
            <li class="breadcrumb-item">Add/Edit</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action="">{% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}