{% extends 'dashboard/dashboard_base.html' %}
{% block title %} Videos |  {{ block.super }}   {% endblock %}
{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-university"></i> Courses</h1>
            <p>Best swahili courses for all users</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Videos</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Videos</h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="list-group">
                            {% for item in object_list %}
                                <a href="{{ item.get_absolute_url }}"
                                   class="list-group-item d-flex justify-content-between align-items-center ">
                                    {{ item.title }}

                                </a>
                                {% if forloop.counter|divisibleby:2 %}
                                    </div></div>
                                    <div class="col-sm-4">
                                    <div class="list-group">
                                {% endif %}
                            {% endfor %}


                            </div>
                            </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}