{% extends "dashboard/dashboard_base.html" %}

{% block content %}
    <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
    <script>
        // Remember? You generated the client token in your view.
        var braintree_client_token = "{{ braintree_client_token }}";
        braintree.setup(braintree_client_token, 'dropin', {
            container: 'dropin-container',
            paypal: {
                singleUse: false,
                billingAgreementDescription: 'Paypal agreement',
                locale: 'en_US',
                enableShippingAddress: false
            }
        });

    </script>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i> Courses Detail</h1>
            <p>ESwahiligigs course</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">

            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'courses:list' %}">Courses</a></li>
            <li class="breadcrumb-item"><a href=""></a>Payments</li>

        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                                    {{ message.tags|title }}{% endif %}!</strong> {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-8">
                        <form method="post" action="{% url 'payments:checkout' %}" autocomplete="off">
                            {% csrf_token %}
                            <p class="offset-md-4">Payments are safely processed with <a
                                    href='https://www.braintreepayments.com/'
                                    target='_blank'>Braintree</a>.
                            </p>
                            {% if braintree_error %}
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">&times;</button>
                                    {{ braintree_error|safe }}
                                </div>
                            {% endif %}
                            <p>Please select a payment plan </p>
                            {#                            {{ form.as_p }}#}
                            <div class="container mb-5 mt-5">
                                <div class="pricing card-deck flex-column flex-md-row mb-3">
                                    <div class="card card-pricing text-center px-3 mb-4">
                                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Monthly</span>
                                        <div class="bg-transparent card-header pt-4 border-0">
                                            <h1 class="h1 font-weight-normal text-primary text-center mb-0"
                                                data-pricing-value="15">$<span class="price">30</span><span
                                                    class="h6 text-muted ml-2">/ per month</span></h1>
                                        </div>
                                        <div class="card-body pt-0">
                                            <ul class="list-unstyled mb-4">
                                                <li></li>

                                            </ul>
                                            <label for="id_plan_0">
                                                <input type="radio" name="plan" value="monthly_plan" required=""
                                                       id="id_plan_0" checked=""> select Monthly
                                            </label>
                                        </div>
                                    </div>
                                    <div class="card card-pricing popular shadow text-center px-3 mb-4">
                                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Quarterly</span>
                                        <div class="bg-transparent card-header pt-4 border-0">
                                            <h1 class="h1 font-weight-normal text-primary text-center mb-0"
                                                data-pricing-value="30">$<span class="price">20</span><span
                                                    class="h6 text-muted ml-2">/ per month</span></h1>
                                        </div>
                                        <div class="card-body pt-0">
                                            <ul class="list-unstyled mb-4">
                                                <li></li>

                                            </ul>
                                            <label for="id_plan_1">
                                                <input type="radio" name="plan" value="quarterly_plan" required=""
                                                       id="id_plan_1"> select quarterly
                                            </label>
                                        </div>
                                    </div>
                                    <div class="card card-pricing text-center px-3 mb-4">
                                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Yearly</span>
                                        <div class="bg-transparent card-header pt-4 border-0">
                                            <h1 class="h1 font-weight-normal text-primary text-center mb-0"
                                                data-pricing-value="45">$<span class="price">10</span><span
                                                    class="h6 text-muted ml-2">/ per month</span></h1>
                                        </div>
                                        <div class="card-body pt-0">
                                            <ul class="list-unstyled mb-4">
                                                <li></li>

                                            </ul>
                                            {#                                            <button type="button" class="btn btn-outline-secondary mb-3">Order now#}
                                            {#                                            </button>#}
                                            <label for="id_plan_2">
                                                <input type="radio" name="plan" value="yearly_plan" required=""
                                                       id="id_plan_2"> select yearly
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div id="dropin-container"></div>

                                <input class="btn btn-success btn-lg btn-block" type="submit" value="Pay now!"/>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

