<form method="get" action="{% url 'videos:list' %}">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Videos" name="q" value="{{ request.Get.q }} " >
    </div>
</form>